/* You can add global styles to this file, and also import other style files */

* {
    font-family: Inter, sans-serif;
}

.image {
    max-width: 100%;
    height: auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.form-field__input {
    border: 1px solid #000000;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    height: 3vh;
}